/* * {
    box-sizing: border-box;
} */
/* body {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
}
.box {
    width: 25%;
    height: 40px;
    background-color: pink;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;

} */
/* .container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}


.box{
    background-color: pink;
    border-radius: 10px;
    width: 25%;
    height: 40px;
    margin: 5px;
} */

.grid {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
}
.grid-item {
    list-style: none;
    height: 70px;
    background-color: pink;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}
.grid-col-2 > .grid-item {
    width: 50%;
}
.grid-col-3 > .grid-item {
    width: 33.3%;
}
.grid-col-4 > .grid-item {
    width: calc(25% - 20px);
    margin: 10px;
}